<% include ../header %>
<header class="row-fluid text-center">
<h1>Ntalk</h1>
<h4>Bem-vindo!</h4>
</header>
<section class="row-fluid text-center">
<form action="/entrar" method="post">
<input type="text" name="usuario[nome]" placeholder="Seu nome">
<br>
<input type="text" name="usuario[email]" placeholder="Seu e-mail">
<br>
<button type="submit">Entrar</button>
</form>
</section>
<% include ../footer %>
